@import "../../../common/style/variables/colours.scss";

.primary {
  background-color: $primary;
  color: white;
  &:hover {
    background-color: $primaryLight;
    color: $primary;
  }
}

.secondary {
  background-color: $contrastLight;
  color: $primary;
  &:hover {
    background-color: $contrast;
    color: white;
  }
}
